.navbar {
  width: 100%;
  max-width: 100vw;
  height: 10vh;
  background-color: #2c4147;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 70px; */
  margin: 0px auto;
  z-index: 1;
}

ul {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin-right: 2rem;
  list-style-type: none;
  padding-top: 1rem;
}

a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}

/* @media screen and (min-width: 1000px) {
  .navbar {
    margin-left: 20rem;
  }
} */
