h1 {
  font-size: 4rem;
  color: aliceblue;
}

.intro-pTag {
  font-size: 1.2rem;
  color: aliceblue;
}

.hero {
  /* position: absolute;
  right: 0;
  top: 80px; */
  display: flex;
  justify-content: center;
}

.content {
  margin: 0;
  display: flex;
  justify-content: center;
  /* margin: 20rem 20rem; */
  background-color: rgb(9, 209, 142);
}

.intro {
  margin-left: 1rem;
}

.media {
  display: flex;
  margin: 9rem 9rem;
}

.icon {
  height: 6rem;
}

@media screen and (min-width: 800px) {
  .hero {
    margin-left: 7rem;
    margin-right: 1.5rem;
  }
}
