.subNav-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding-top: 20px;
}

.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.row-content2 {
  display: flex;
  justify-content: center;
}

.category-menu {
  display: flex;
  justify-content: space-around;
}

.menuBTN {
  /* padding: 7px;
  border-radius: 10px;
  outline: none; */
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgb(92, 88, 88);
  transition: all 0.2s ease;
}
